<form
		class="card"
		hx-post="{{ path('app_account_edit') }}"
		hx-target="this"
		hx-swap="outerHTML">
	{{ form_start(form) }}
	{{ form_row(form.lastname, {
		label: 'account.lastname'|trans
	}) }}
	{{ form_row(form.firstname, {
		label: 'account.firstname'|trans
	}) }}
	{{ form_row(form.email, {
		label: 'account.email'|trans
	}) }}

	<div class="flex w-full justify-center gap-6">
		{% set path = app.user.roles[0] == "ROLE_ADMIN" ? path('app_management_action') : path('app_account_show') %}
		<button type="button" class="btn btn-cancel" hx-get="{{ path }}">
			{{ 'button.cancel'|trans }}
		</button>
		<button type="submit" class="btn btn-valid">
			{{ 'button.modify'|trans }}
		</button>
	</div>

	{{ form_end(form) }}


</form>