<form
		class="card"
		hx-post="{{ path('app_account_edit_pwd') }}"
		hx-target="this"
		hx-swap="outerHTML">
	{{ form_start(form) }}
	{{ form_row(form.oldPassword) }}
	{{ form_row(form.newPassword) }}


	<div class="flex w-full justify-center gap-6">
		<button type="button" class="btn btn-cancel" hx-get="{{ path('app_account_show') }}">Annuler</button>
		<button type="submit" class="btn btn-valid">Modifier</button>
	</div>

	{{ form_end(form) }}

</form>