<form hx-post="{{ path('app_account_edit') }}" hx-target="this" hx-swap="outerHTML">
	{{ form_start(form) }}
	{{ form_row(form.lastname, {
		label: 'Nom'
	}) }}
	{{ form_row(form.firstname, {
		label: 'Prénom'
	}) }}
	{{ form_row(form.email, {
		label: 'Email'
	}) }}

	<div class="flex w-full justify-center gap-6">
		<button type="submit" class="btn">Modifier</button>
		<button type="button" class="btn" hx-get="{{ path('app_account_show') }}">Annuler</button>
	</div>

	{{ form_end(form) }}


</form>