{% block javascripts %}
	{{ encore_entry_script_tags('formElem') }}
{% endblock %}

<form
		class="card"
		hx-post="{{ path }}"
		hx-target="this"
		hx-swap="outerHTML">
	{{ form_start(form) }}

	{{ form_row(form.firstname) }}

	{{ form_row(form.adult) }}

	<div
			id="allergies"
			data-prototype="{{ include('account/_allergy.html.twig', {form: form.allergies.vars.prototype})|e
				('html_attr') }}"
			data-index="{{ form.allergies|length > 0 ? form.allergies|last.vars.name + 1 : 0 }}">
		{% for allergy in form.allergies %}
			<div>
				{{ include('account/_allergy.html.twig', { form: allergy }) }}
			</div>
		{% endfor %}
	</div>

	<div class="flex justify-end mb-6">
		<button type="button"
		        class="btn-icon-right btn-new"
		        data-collection="#allergies">
			{{ 'button.allergy'|trans }}<span class="material-symbols-outlined">add</span>
		</button>
	</div>

	<div class="flex w-full justify-center gap-6">
		<button type="button" class="btn btn-cancel" hx-get="{{ path('app_account_guests') }}">
			{{ 'button.cancel'|trans }}
		</button>
		<button type="submit" class="btn btn-valid">{{ buttonTitle ?? 'button.save'|trans }}</button>
	</div>

	{{ form_widget(form._token) }}

	{{ form_end(form, {render_rest: false}) }}
</form>