{{ include('_flash-message.html.twig') }}

<div hx-target="this" hx-swap="outerHTML"
		class="card">

	{% set value = app.user.lastname ?? 'Not specified' %}
	{{ include('account/_field.html.twig', {
		field_name: 'Lastname',
		field_value: value,
		last: false,
	}) }}
	{% set value = app.user.firstname ?? 'Not specified' %}
	{{ include('account/_field.html.twig', {
		field_name: 'Firstname',
		field_value: value,
		last: false,
	}) }}
	{% set value = app.user.email %}
	{{ include('account/_field.html.twig', {
		field_name: 'Email',
		field_value: value,
		last: false,
	}) }}
	{% set path = path('app_account_edit_pwd') %}
	{{ include('account/_field.html.twig', {
		field_name: 'Password',
		field_value: '******',
		field_path: path,
		last: false,
	}) }}
	{% set path = path('app_account_guests') %}
	{% set guests = app.user.guests.count + 1 %}
	{% set value = "#{guests} person#{guests > 1 ? 's' : ''}" %}
	{{ include('account/_field.html.twig', {
		field_name: 'Guests',
		field_value: value,
		field_path: path,
		last: true,
	}) }}
</div>