{{ include('_flash-message.html.twig') }}

<div hx-target="this" hx-swap="outerHTML"
		class="card">

	{% set value = app.user.lastname ?? 'message.noSpec'|trans %}
	{{ include('account/_field.html.twig', {
		field_name: 'account.lastname'|trans,
		field_value: value,
		last: false,
	}) }}
	{% set value = app.user.firstname ?? 'message.noSpec'|trans %}
	{{ include('account/_field.html.twig', {
		field_name: 'account.firstname'|trans,
		field_value: value,
		last: false,
	}) }}
	{% set value = app.user.email %}
	{{ include('account/_field.html.twig', {
		field_name: 'account.email'|trans,
		field_value: value,
		last: false,
	}) }}
	{% set path = path('app_account_edit_pwd') %}
	{{ include('account/_field.html.twig', {
		field_name: 'account.password'|trans,
		field_value: '******',
		field_path: path,
		last: false,
	}) }}
	{% set path = path('app_account_guests') %}
	{% set guests = app.user.guests.count + 1 %}
	{% set person = 'message.person'|trans %}
	{% set value = "#{guests} #{person}#{guests > 1 ? 's' : ''}" %}
	{{ include('account/_field.html.twig', {
		field_name: 'account.guest'|trans,
		field_value: value,
		field_path: path,
		last: true,
	}) }}
</div>