<div hx-target="this" hx-swap="outerHTML" id="show-guest">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_account_show')}) }}

	<div class="card">

		<div class="textH2 text-white mb-4">
			{{ 'h1.guest'|trans }}
		</div>

		{% set path = path('app_account_edit_user-guest', {id: app.user.id}) %}
		{{ include('account/_guest-field.html.twig', {
			index: 0,
			firstname: '%s %s'|format(app.user.lastname, app.user.firstname),
			adult: true,
			allergies: app.user.allergies,
			editPath: path,
			allowDelete: false,
		}) }}

		{% for guest in app.user.guests %}
			{% set path = path('app_account_edit_guest', {id: guest.id}) %}
			{% set index = loop.index %}
			{{ include('account/_guest-field.html.twig', {
				index: index,
				firstname: guest.firstname,
				adult: guest.adult,
				allergies: guest.allergies,
				editPath: path,
				allowDelete: true,
				guestId : guest.id,
			}) }}
		{% endfor %}

		<div class="flex justify-end">
			<button hx-get="{{ path('app_account_add_guest') }}" class="btn-icon-right">
				{{ 'button.add'|trans }}<span class="material-symbols-rounded button-icon">Add</span>
			</button>
		</div>

	</div>

</div>