<div hx-target="this" hx-swap="outerHTML">
	{% set value = app.user.lastname ?? 'Non renseigné' %}
	{{ include('account/_field.html.twig', {
		field_name: 'Nom',
		field_value: value,
	}) }}
	{% set value = app.user.firstname ?? 'Non renseigné' %}
	{{ include('account/_field.html.twig', {
		field_name: 'Prénom',
		field_value: value,
	}) }}
	{% set value = app.user.email %}
	{{ include('account/_field.html.twig', {
		field_name: 'Email',
		field_value: value,
	}) }}
	{% set path = path('app_account_edit_pwd') %}
	{{ include('account/_field.html.twig', {
		field_name: 'Mot de passe',
		field_value: '******',
		field_path: path,
	}) }}
	{% set path = path('app_account_guests') %}
	{% set guests = app.user.guests.count + 1 %}
	{% set value = "%s personnes"|format(guests) %}
	{{ include('account/_field.html.twig', {
		field_name: 'Convives',
		field_value: value,
		field_path: path,
	}) }}
</div>