{% extends 'base.html.twig' %}

{% block title %}{{ 'title.reset'|trans }}{% endblock %}

{% block body %}

	{{ include('_flash-message.html.twig') }}

	<div class="max-w-2xl mx-auto p-8 sm:p-7 md:p-6 lg:p-4">

		<div class="w-fit mx-auto text-center mb-8">
			<span class="material-symbols-rounded title-icon text-textColor">person</span>
			<h1 class="textH1">
				{{ 'h1.reset'|trans }}
			</h1>
		</div>

		<div class="flex items-center h-12 mb-4">
			<a href="{{ path('app_login') }}" class="btn-icon-left">
				<span class="material-symbols-rounded button-icon">navigate_before</span>
				{% trans %}button.back{% endtrans %}
			</a>
		</div>

		<div class="card">
			<p class="text-lightText mb-2">{{ 'message.emailrequest'|trans }}</p>
			{{ form_start(form) }}
			{{ form_row(form.email) }}
			<div class="flex justify-end items-center">
				<button
						type="submit"
						class="btn-icon-right">
					{{ 'button.send'|trans }} <span class="material-symbols-outlined button-icon">send</span>
				</button>
			</div>
			{{ form_end(form) }}
		</div>

	</div>

{% endblock %}