{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
	<div class="max-w-2xl mx-auto p-8 sm:p-7 md:p-6 lg:p-4">
		<form method="post">
			<div class="w-fit mx-auto text-center mb-8">
				<span class="material-symbols-rounded title-icon text-textColor">person</span>
				<h1 class="textH1">Login</h1>
			</div>

			{% if error %}
				<div class="text-error text-2xl">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="w-fit mx-auto mb-8">
					You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<div class="card">

				<div class="mb-6">
					<label class="block text-lightText" for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mt-1 w-full rounded p-2
			bg-white border-black border-2 outline-none focus:ring focus:ring-1 focus:ring-secondary focus:border-secondary"
					       autocomplete="email" required autofocus>
				</div>

				<div class="mb-6">
					<label class="block text-lightText" for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="mt-1 w-full rounded p-2
			bg-white border-black border-2 outline-none focus:ring focus:ring-1 focus:ring-secondary focus:border-secondary"
					       autocomplete="current-password"
					       required>
					<div class="flex justify-end gap-1 mt-1">
						<a class="textLink" href="#">Forgot your password ?</a>
					</div>
				</div>


				<input type="hidden" name="_csrf_token"
				       value="{{ csrf_token('authenticate') }}"
				>

				{#
				Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				See https://symfony.com/doc/current/security/remember_me.html

				<div class="checkbox mb-3">
						<label>
								<input type="checkbox" name="_remember_me"> Remember me
						</label>
				</div>
				#}

				<div class="flex w-full justify-center">
					<button class="btn" type="submit">
						Connect
					</button>
				</div>

			</div>

			<div class="mb-6">
				<p>Not registered yet ?</p>
				<a class="textLink" href="{{ path("app_register") }}">Register here</a>
			</div>

		</form>
	</div>
{% endblock %}
