{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
	<wrapper class="header" bgcolor="#2B262D">
		<container>
			<row class="collapse">
				<columns align="center" valign="middle" bgcolor="#2B262D">
					<img class="img-title" src="{{ email.image('@images/Logo.png') }}" alt="Logo">
				</columns>
			</row>
		</container>
	</wrapper>
	<container>
		<spacer size="16"></spacer>
		<row>
			<columns>
				{% if locale == 'fr' %}
					<h1>Réinitialisation de mot de passe</h1>
					<p>Cliquez sur le lien suivant pour réinitialiser votre mot pe passe</p>
				{% else %}
					<h1>Reset your password</h1>
					<p>Clic on the following link to reset your password</b></p>
				{% endif %}
			</columns>
		</row>
		<spacer size="16"></spacer>
		<row>
			<columns>
				{% if locale == 'fr' %}
					{% set link = 'Réinitialiser mon mot de passe' %}
				{% else %}
					{% set link = 'Reset my password' %}
				{% endif %}
				<a href="{{ url }}">{{ link }}</a>
			</columns>
		</row>
		<spacer size="16"></spacer>
		<row>
			<columns>
				{% if locale == 'fr' %}
					<p>Envoyé le <b>{{ "now"|date('j M Y') }}</b></p>
				{% else %}
					<p>Sent on <b>{{ "now"|date('M j Y') }}</b></p>
				{% endif %}
			</columns>
		</row>
	</container>
{% endapply %}