<div
		class="card grid grid-cols-2 gap-4"
		hx-target="this"
		hx-swap="outerHTML">
	<button class="btn" hx-get="{{ path('app_management_gallery') }}">
		Galerie
	</button>
	<button class="btn" hx-get="{{ path('app_management_menu') }}">
		Menus
	</button>
	<button class="btn" hx-get="{{ path('app_management_recipe') }}">
		Recettes
	</button>
	<button class="btn" hx-get="{{ path('app_management_recipe-category') }}">
		Catégories
	</button>
	<button class="btn" hx-get="{{ path('app_management_users') }}">
		Utilisateurs
	</button>
	<button class="btn" hx-get="{{ path('app_management_manage-restaurant') }}">
		Restaurant
	</button>
</div>