<div class="text-lightText">
	<div class="text-xl mb-6">
		{{ 'reservation.title'|trans }}
	</div>
	<div class="mb-6">
		{{ 'reservation.text'|trans }} <span class="font-bold">{{ user.email }}</span>
	</div>
	<div class="text-end mb-6">
		{{ 'reservation.thanks'|trans }}
	</div>
	<div class="flex justify-center">
		<a class="btn" href="{{ path('app_home') }}">Retour à l'accueil</a>
	</div>
</div>

