{% set current_date = '%s-%s-%s'|format(year, month, day) %}
{% set weekStart = current_date|date_modify("monday this week")|date('Y-m-d') %}

<div class="flex items-center mb-4">
	<button class="icon-btn"
	        hx-swap="innerHTML"
	        hx-target="#booking-card"
	        hx-get="{{ path('app_booking_date', {date: weekStart}) }}">
		<span class="material-symbols-rounded">navigate_before</span>
	</button>
</div>

<div class="bg-lightBg text-textColor p-2 mb-4 rounded">
	{% if service.getMaxSeatsAvailable == 0 %}
		{{ 'reservation.noRemains'|trans }}<br>
	{% else %}
		{% if service.getMaxSeatsAvailable > 1 %}
			{{ 'reservation.remains'|trans({'%value%': service.getMaxSeatsAvailable }) }}<br>
		{% else %}
			{{ 'reservation.remain'|trans({'%value%': service.getMaxSeatsAvailable }) }}<br>
		{% endif %}
		{% set nonReservedTables = [] %}
		{% for table in tables %}
			{% if table.id in service.nonReservedTablesId %}
				{% set nonReservedTables = nonReservedTables|merge([table.seats]) %}
			{% endif %}
		{% endfor %}
		<span class="underline underline-offset-4">{{ 'reservation.tableRemains'|trans }}:</span><br>
		{% set items = countItems(nonReservedTables) %}
		{% for key,value in items %}
			{{ value }} {{ 'reservation.table'|trans }}{{ value > 1 ? 's' : '' }} {{ 'reservation.of'|trans }} {{ key }}
			{{ 'reservation.seat'|trans }}{{ key > 1 ? 's' : '' }}.<br>
		{% endfor %}
		<div class="flex justify-end">
			<button class="icon-btn"
			        hx-swap="innerHTML"
			        hx-target="#booking-card"
			        hx-get="{{ path('app_booking_hours',
				        {date: current_date|date('Y-m-d'), time: service.noon ? 'noon' : 'eve'}) }}">
				{{ 'reservation.book'|trans }}
			</button>
		</div>
	{% endif %}
</div>

<div class="text-lightText text-2xl text-center mb-6">
	{{ 'reservation.list'|trans }}
</div>

{% for reservation in reservations %}
	<div class="grid grid-cols-4 bg-lightBg text-textColor p-2 mb-4 rounded">
		<div class="col-span-3">
			{% set user = reservation.simpleUser %}
			{% set reservationTables = [] %}
			{% for table in tables %}
				{% if table.id in reservation.reservedTables %}
					{% set reservationTables = reservationTables|merge([table.seats]) %}
				{% endif %}
			{% endfor %}
			{{ user.fullname }} ({{ user.email }})<br>
			{{ 'reservation.with'|trans }} {{ user.simpleGuests|length }} {{ 'reservation.guests'|trans }}.<br>
			{{ 'reservation.at'|trans }} {{ reservation.time|date('H:i') }}.<br>
			{% if reservationTables|length == 1 %}
				{{ 'reservation.tableF'|trans }} {{ reservationTables[0] }} {{ 'reservation.guests'|trans }}.<br>
			{% else %}
				{% set joinAnd = 'reservation.and'|trans %}
				{{ 'reservation.tableF'|trans }} {{ reservationTables|join(', ', " #{joinAnd} " ) }} {{ 'reservation.guests'|trans }}.
				<br>
			{% endif %}
		</div>
		<div class="flex flex-col justify-between items-end">
			<button class="icon-btn btn-valid"
			        hx-swap="innerHTML"
			        hx-target="#booking-card"
			        hx-get="{{ path('app_booking_show', {id: reservation.id}) }}">
				<span class="material-symbols-outlined">info</span>
			</button>
			<button class="icon-btn btn-danger"
			        hx-swap="innerHTML"
			        hx-target="#booking-card">
				<span class="material-symbols-outlined">delete</span>
			</button>
		</div>
	</div>
{% endfor %}

{% if reservations|length == 0 %}
	<div class="bg-lightBg text-textColor p-2 mb-4 rounded">
		{{ 'reservation.noReservation'|trans }}
	</div>
{% endif %}
