{% block javascript %}
{{ encore_entry_script_tags('expand') }}
{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('input-select') }}
{% endblock %}

<button class="icon-btn"
        hx-swap="innerHTML"
        hx-target="#booking-card"
        hx-get="{{ path('app_booking_hours', {date: backDate|date('Y-m-d'), time: backTime}) }}">
	<span class="material-symbols-rounded">navigate_before</span>
</button>

<form method="post"
      action="{{ path('app_booking_guests', {
	      'noon': noon,
	      'guests': guests,
	      'time': time|date('H:i'),
	      'backDate': backDate|date('Y-m-d'),
	      'backTime': backTime,
      }) }}">

	<div class="text-lightText text-2xl text-center mb-6">
		{{ backDate|format_datetime(locale=app.request.locale, pattern="EEEE dd MMMM")|capitalize }}
	</div>
	<div class="text-lightText text-2xl text-center mb-6">
		{{ time|format_datetime(locale=app.request.locale, pattern="HH:mm") }}
	</div>
	<div class="text-textColor">
		{{ form_start(reservationForm) }}
		<div class="bg-primary rounded p-2 mb-4">
			<div class="flex justify-between items-center p-3 no-expand">
				{{ 'reservation.information'|trans }}
				<button type="button" class="flex items-center p-1.5 border-2 border-lightText rounded expand hover:border-secondary
					hover:bg-secondary">
					<span class="material-symbols-outlined text-lightText">expand_less</span>
				</button>
			</div>
			<div class="">
				{{ form_widget(reservationForm.simpleUser) }}
			</div>
		</div>
		{% for guestForm in reservationForm.simpleGuests %}
			<div class="bg-primary rounded p-2 mb-4">
				<div class="flex justify-between items-center p-3 no-expand">
					{{ 'reservation.guestInformation'|trans }} n°{{ loop.index }}
					<button type="button" class="flex items-center p-1.5 border-2 border-lightText rounded expand hover:border-secondary
					hover:bg-secondary">
						<span class="material-symbols-outlined text-lightText">expand_more</span>
					</button>
				</div>
				<div class="hidden">
					{{ form_widget(guestForm) }}
				</div>
			</div>
		{% endfor %}
		<div class="flex justify-end">
			<button type="submit" class="btn">Réserver</button>
		</div>
		{{ form_end(reservationForm) }}
	</div>
</form>
