{% set current_date = '%s-%s-%s'|format(year, month, day) %}
{% set prevWeek = current_date|date_modify('-7 day') %}
{% set nextWeek = current_date|date_modify('+7 day') %}
{% set pwYear = prevWeek|date('Y') %}
{% set pwMonth = prevWeek|date('m') %}
{% set pwDay = prevWeek|date('d') %}
{% set nwYear = nextWeek|date('Y') %}
{% set nwMonth = nextWeek|date('m') %}
{% set nwDay = nextWeek|date('d') %}
{% set strPrevWeek = '%s-%s-%s'|format(pwYear, pwMonth, pwDay) %}
{% set strNextWeek = '%s-%s-%s'|format(nwYear, nwMonth, nwDay) %}

{% set now = "now"|date('Y-m-d') %}
{% set weekStart = "now"|date_modify("monday this week")|date('Y-m-d') %}

<div class="flex items-center uppercase mb-4 px-4"
     hx-swap="innerHTML"
     hx-target="#booking-card">
	<div class="flex-grow text-center">
		{{ current_date|format_datetime(locale=app.request.locale, pattern="MMMM Y") }}
	</div>
	<div class="flex gap-4 md:gap-8">
		{% if is_granted('ROLE_ADMIN') %}
			<button class="btn"
			        hx-get="{{ path('app_booking_date', { date: strPrevWeek }) }}">
				<
			</button>
		{% else %}
			<button class="btn"
					{% if weekStart > strPrevWeek %} disabled {% endif %}
					    hx-get="{{ path('app_booking_date', { date: strPrevWeek }) }}">
				<
			</button>
		{% endif %}
		<button class="btn"
		        hx-get="{{ path('app_booking_date', {date: strNextWeek}) }}">
			>
		</button>
	</div>
</div>

{% set carefulValue = (services[0].getAllReservedTables|length * 0.25)|round %}

{% for i in 0..6 %}
	{% set cur_date = current_date|date_modify("+#{i} day") %}
	<div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-1 md:gap-4 mb-4">
		<span class="w-full text-center py-2 rounded border-2 border-lightText
					{{ now == cur_date|date('Y-m-d') ? 'bg-secondary' : '' }}
					{{ now > cur_date|date('Y-m-d') ? 'bg-lightText text-gray-400' : '' }}">
			{% set ptn = app.request.locale == 'fr' ? "EE dd MMMM" : "E, d MMMM" %}
			{{ cur_date|format_datetime(locale=app.request.locale, pattern=ptn)|capitalize }}
		</span>
		<div class="flex justify-center items-center md:gap-4"
		     hx-swap="innerHTML"
		     hx-target="#booking-card">
			{% set color = 'btn-valid' %}
			{% if services[i*2].getNonReservedTables|length == 0 %}
				{% set color = 'btn-danger' %}
			{% elseif services[i*2].getNonReservedTables|length <= carefulValue %}
				{% set color = 'btn-careful' %}
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<button class="btn w-28 {{ color }}"
				        hx-get="{{ path('app_booking_manage', {date: cur_date|date('Y-m-d'), time: 'noon'}) }}">
					{{ 'reservation.noon'|trans }}
				</button>
			{% else %}
				<button class="btn w-28 {{ color }}"
						{% if not restaurant.openDays[i].isOpen or
							not restaurant.openDays[i].isNoonService or
							now > cur_date|date('Y-m-d') %}
							disabled {% endif %}
						    hx-get="{{ path('app_booking_hours', {date: cur_date|date('Y-m-d'), time: 'noon'}) }}">
					{{ 'reservation.noon'|trans }}
				</button>
			{% endif %}
			{% set color = 'btn-valid' %}
			{% if services[(i*2)+1].getNonReservedTables|length == 0 %}
				{% set color = 'btn-danger' %}
			{% elseif services[(i*2)+1].getNonReservedTables|length <= carefulValue %}
				{% set color = 'btn-careful' %}
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<button class="btn w-28 {{ color }}"
				        hx-get="{{ path('app_booking_manage', {date: cur_date|date('Y-m-d'), time:'eve'}) }}">
					{{ 'reservation.eve'|trans }}
				</button>
			{% else %}
				<button class="btn w-28 {{ color }}"
						{% if not restaurant.openDays[i].isOpen or
							not restaurant.openDays[i].isEveningService or
							now > cur_date|date('Y-m-d') %}
							disabled {% endif %}
						    hx-get="{{ path('app_booking_hours', {date: cur_date|date('Y-m-d'), time: 'eve'}) }}">
					{{ 'reservation.eve'|trans }}
				</button>
			{% endif %}
		</div>
	</div>
{% endfor %}