<form
		hx-post="{{ path('app_management_edit_category', {id: id}) }}"
		hx-target="#category-gestion"
		hx-swap="outerHTML"
		class="flex flex-grow gap-4 items-center">

	{{ form_start(form) }}

	<div class="flex-grow">
		{{ form_widget(form.name) }}
	</div>

	<div class="flex">
		<button
				class="icon-btn btn-cancel"
				hx-target=".{{ 'cat-%d'|format(id) }}"
				hx-swap="innerHTML"
				hx-get="{{ path('app_management_show_category', {id: id}) }}">
			<span class="material-symbols-outlined">Cancel</span>
		</button>
		<button class="icon-btn btn-valid">
			<span class="material-symbols-rounded">Save</span>
		</button>
	</div>

	{{ form_row(form._token) }}
	{{ form_end(form, {render_rest: false}) }}

</form>