<div hx-target="this" hx-swap="outerHTML" class="toggle z-10 delete flex-col p-2">
	<p class="text-white">{{ 'message.sure'|trans }}</p>
	<button
			hx-target="#gallery-gestion"
			hx-get="{{ path('app_management_remove-image', {id: id}) }}"
			class="btn btn-danger w-20">{{ 'button.yes'|trans }}</button>
	<button hx-get="{{ path('app_management_delete-image', {id: id}) }}" class="btn btn-cancel w-20">
		{{ 'button.no'|trans }}
	</button>
</div>