<div hx-target="this" hx-swap="outerHTML" id="gallery-gestion">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_management_action')}) }}

	<div class="card">

		<div class="textH2 text-white mb-4">Liste des photos</div>

		<div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-4">

			{% for image in images %}
				<div class="relative flex justify-end bg-white rounded-md p-1">
					<div class="toggle visibility"
					     hx-get="{{ path('app_management_toggle-visibility', {id: image.id}) }}">
						{% if image.visible %}
							<span class="material-symbols-outlined text-valid">visibility</span>
						{% else %}
							<span class="material-symbols-outlined text-error">visibility_off</span>
						{% endif %}
					</div>
					{{ include('management/gallery/_delete-image.html.twig', {id: image.id}) }}
					<img class="rounded-md"
					     src="{{ asset("build/images/gallery/#{image.filename}")|imagine_filter('thumb') }}"
					     alt="{{ image.name }}">
				</div>
			{% endfor %}

		</div>

		<div class="flex justify-end items-center">
			<button
					hx-get="{{ path('app_management_add-image') }}"
					class="btn-icon-right">
				Ajouter une image <span class="material-symbols-rounded button-icon">Add</span>
			</button>
		</div>

	</div>

</div>