{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}title.gallery{% endtrans %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('gallery') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('galleryStyle') }}
{% endblock %}

{% block body %}
	<div class="g-zoom-bgrd hidden" id="gallery-zoom">

		<div class="g-zoom">

			<button class="zoom-close icon-btn rounded-full" id="zoom-close">
				<span class="material-symbols-outlined">close</span>
			</button>

			<img id="zoom-img" class="rounded-xl border-4 border-white" alt="" src="">

			<div class="w-full flex items-center justify-between px-4 md:px8 lg:px-12">

				<span class="icon-btn material-symbols-outlined" id="prev-button">chevron_left</span>
				<span class="flex-grow h-28 md:h-20 text-center text-2xl bg-darkBg text-lightText p-2 rounded"
				      id="zoom-info">Title</span>
				<span class="icon-btn material-symbols-outlined" id="next-button">chevron_right</span>

			</div>



		</div>

	</div>

	<div class="max-w-4xl xl:max-w-5xl mx-auto p-8 sm:p-7 md:p-6 lg:p-4">

		<div class="w-fit mx-auto text-center mb-8">
			<span class="material-symbols-outlined title-icon text-textColor">image</span>
			<h1 class="textH1">
				{% trans %}h1.gallery{% endtrans %}
			</h1>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
			{% set span = '' %}
			{% for image in images %}
				<div class="gallery">
					<div class="gallery-image">
						<img class="rounded-xl border-4 border-white"
						     src="{{ asset("build/images/gallery/#{image.filename}")|imagine_filter('watermark') }}"
						     alt="{{ image.name }}">
					</div>
					<span class="gallery-span bg-darkBg text-lightText p-2 rounded">
						{{ image.name }}
					</span>
				</div>
			{% endfor %}
		</div>

	</div>

{% endblock %}
