<form
		hx-post="{{ path }}"
		hx-target="this"
		hx-swap="outerHTML">
	{{ form_start(form) }}

	{{ form_row(form.title) }}

	{{ form_row(form.description) }}

	{{ form_row(form.price) }}

	<div
			id="formulas"
			data-prototype="{{ include('management/menu/_formula.html.twig', {form: form.formulas.vars.prototype})|e
				('html_attr') }}"
			data-index="{{ form.formulas|length > 0 ? form.formulas|last.vars.name + 1 : 0 }}">
		{% for formula in form.formulas %}
			<div>
				{{ include('management/menu/_formula.html.twig', { form: formula}) }}
			</div>
		{% endfor %}
	</div>

	<div class="flex justify-end mb-6">
		<button type="button"
		        class="btn btn-new"
		        onclick="addFormElement(this)"
		        data-collection="#formulas">
			Ajouter une formule
		</button>
	</div>

	<div class="flex w-full justify-center gap-6">
		<button type="submit" class="btn">{{ buttonTitle ?? 'Valider' }}</button>
		<button type="button" class="btn" hx-get="{{ path('app_management_menu') }}">Annuler</button>
	</div>

	{{ form_widget(form._token) }}

	{{ form_end(form, {render_rest: false}) }}

</form>
<script>
	const addFormElement = (e) => {
		const collectionHolder = document.querySelector(e.dataset.collection);

		const item = document.createElement('div');
		item.classList.add('mb-2');
		item.innerHTML = collectionHolder
				.dataset
				.prototype
				.replace(
						/__name__/g,
						collectionHolder.dataset.index
				);
		item.querySelector('.btn-remove').addEventListener('click', () => item.remove());
		collectionHolder.appendChild(item);
		collectionHolder.dataset.index++;
	}
</script>