{% block javascripts %}
	{{ encore_entry_script_tags('formElem') }}
{% endblock %}

<form
		class="card"
		hx-post="{{ path }}"
		hx-target="this"
		hx-swap="outerHTML">
	{{ form_start(form) }}

	{{ form_row(form.title) }}

	{{ form_row(form.description) }}

	{{ form_row(form.price) }}

	<div
			id="formulas"
			data-prototype="{{ include('management/menu/_formula.html.twig', {form: form.formulas.vars.prototype})|e
				('html_attr') }}"
			data-index="{{ form.formulas|length > 0 ? form.formulas|last.vars.name + 1 : 0 }}">
		{% for formula in form.formulas %}
			<div>
				{{ include('management/menu/_formula.html.twig', { form: formula}) }}
			</div>
		{% endfor %}
	</div>

	<div class="flex justify-end mb-6">
		<button type="button"
		        class="btn-icon-left btn-new"
		        data-collection="#formulas">
			Add a formula <span class="material-symbols-outlined">Add</span>
		</button>
	</div>

	<div class="flex justify-center gap-6">
		<button type="button" class="btn btn-cancel w-40" hx-get="{{ path('app_management_menu') }}">Cancel</button>
		<button type="submit" class="btn btn-valid w-40">{{ buttonTitle ?? 'Save' }}</button>
	</div>

	{{ form_widget(form._token) }}

	{{ form_end(form, {render_rest: false}) }}

</form>