<div hx-target="this" hx-swap="outerHTML" id="menu-gestion">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_management_action')}) }}

	<div class="card">

		<div class="textH2 text-white mb-4">{{ 'h1.menuList'|trans }}</div>

		<form
				hx-post="{{ path('app_management_menu') }}"
				hx-target="#menu-gestion"
				hx-swap="outerHTML">

			{{ form_start(form) }}

			{% for menu in form.activeMenus %}
				<div class="flex items-center gap-4">
					<div class="text-white w-1/2 pl-2 mb-2 border-white border-b">
						{{ menu.vars.value.name }}
					</div>
					<div class="hidden">
						{{ form_widget(menu.name) }}
					</div>
					{{ form_widget(menu.active) }}
					{{ form_label(menu.active) }}
				</div>
			{% endfor %}

			{{ form_widget(form._token) }}

			<div class="flex justify-end">
				<button type="submit" class="btn-icon-right btn-valid">
					{{ 'button.save'|trans }} <span class="material-symbols-outlined button-icon">Save</span>
				</button>
			</div>

			{{ form_end(form, {render_rest: false}) }}
		</form>

	</div>

	<div class="card">

		<div class="textH2 text-white mb-4">{{ 'h1.menuEdit'|trans }}</div>

		{% for menu in menus %}
			<div class="mb-4">
				<div class="text-white border-2 border-secondary rounded p-2">
					<div class="mb-1">
						<div class="w-28 inline-block underline underline-offset-4">
							{{ 'menu.name'|trans }}:
						</div>
						<span class="block md:inline mr-2">{{ menu.title }}</span>
					</div>
					<hr class="h-px my-1 bg-secondary border-0">
					<div class="mb-1">
						<div class="w-28 inline-block underline underline-offset-4">
							{{ 'menu.description'|trans }}:
						</div>
						<span class="block md:inline mr-2">{{ menu.description }}</span>
					</div>
					<hr class="h-px my-1 bg-secondary border-0">
					<div class="mb-1">
						<div class="w-28 inline-block underline underline-offset-4">
							{{ 'menu.price'|trans }}:
						</div>
						<span class="block md:inline mr-2">{{ menu.price }}€</span>
					</div>
					<hr class="h-px my-1 bg-secondary border-0">
					<div>
						<span class="w-28 inline-block underline underline-offset-4">
							{{ 'menu.formulas'|trans }}:
						</span>
						{% set forms = concatFormulas(menu.formulas) %}
						<span class="block md:inline">{{ forms }}</span>
					</div>
				</div>
				<div class="flex justify-end items-center">
					{{ include('management/menu/_delete-menu.html.twig', {id: menu.id}) }}
					<button class="icon-btn">
					<span class="material-symbols-rounded"
					      hx-get="{{ path('app_management_edit_menu', {id: menu.id}) }}">Edit</span>
					</button>
				</div>
			</div>
		{% endfor %}

		<div class="flex justify-end">
			<button hx-get="{{ path('app_management_add_menu') }}" class="btn-icon-left">
				{{ 'button.addMenu'|trans }} <span class="material-symbols-rounded button-icon">Add</span>
			</button>
		</div>
	</div>

</div>