<div class="grid grid-cols-4 items-center bg-lightBg text-textColor p-2 rounded mb-4"
     id="{{ 'userId-%s'|format(user.id) }}">

	<span class="col-span-2 border-r border-r-2 border-black p-2">{{ user.email }}</span>

	<div class="flex justify-between items-center border-r border-r-2 border-black p-2">

		<span class="">{{ user.roles[0]|shortRole }}</span>

		<div class="toggle text-lightText"
		     hx-target="{{ '#userId-%s'|format(user.id) }}"
		     hx-get="{{ path('app_management_update-user-role', {id: user.id}) }}">
			<span class="material-symbols-rounded">edit</span>
		</div>

	</div>

	<button class="btn btn-danger">
		Supprimer
	</button>

</div>