<div class="grid grid-cols-4 items-center bg-lightBg text-textColor p-2 rounded mb-4"
     id="{{ 'userId-%s'|format(user.id) }}">

	<span class="col-span-2 border-r border-r-2 border-black p-2">{{ user.email }}</span>

	<span class="border-r border-r-2 border-black p-2">{{ user.roles[0]|shortRole }}</span>

	<div class="flex justify-evenly items-center">

		<button class="icon-btn btn-valid"
		     hx-target="{{ '#userId-%s'|format(user.id) }}"
		     hx-get="{{ path('app_management_update-user-role', {id: user.id}) }}">
			<span class="material-symbols-rounded">edit</span>
		</button>

		<button class="icon-btn btn-danger"
		        hx-target="{{ '#userId-%s'|format(user.id) }}"
		        hx-get="{{ path('app_management_confirm-remove-user', {id: user.id}) }}">
			<span class="material-symbols-rounded">delete</span>
		</button>

	</div>

</div>