{% block javascript %}
{{ encore_entry_script_tags('flag') }}
{{ encore_entry_script_tags('navmenu') }}
{% endblock %}

{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

{% set lang = app.request.locale == 'fr' ? 'fr.png' : 'en.png' %}
{% set img = 'build/images/%s'|format(lang) %}
{% set flag = app.request.locale == 'fr' ? 'drapeau français' : 'english flag' %}
{% set langName = app.request.locale|locale_name(app.request.locale) %}

<nav class="bg-darkBg fixed inset-x-0 top-0 z-20">
	<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">

		<div class="flex items-center justify-between">

			{# Left Side #}
			<div class="flex items-center gap-4">
				<a href="{{ path('app_home') }}" class="cursor-pointer">
					<img src="{{ asset('build/images/Logo.png') }}" alt="logo" class="h-20 px-3 py-2">
				</a>
				<div class="flex flex-col gap-1">
					<img class="flag" src="{{ asset(img) }}" alt="{{ flag }}" id="cur-flag">
					<a class="hidden" href="{{ path(route, params|merge({ _locale: 'en' })) }}" id="en-flag">
						<img class="flag"
						     src="{{ asset('build/images/en.png') }}"
						     alt="english flag">
					</a>
					<a class="hidden" href="{{ path(route, params|merge({ _locale: 'fr' })) }}" id="fr-flag">
						<img class="flag"
						     src="{{ asset('build/images/fr.png') }}"
						     alt="drapeau français" id="fr-flag">
					</a>
				</div>
			</div>

			{# rigth side #}
			<div class="relative text-end px-3 py-2">
				<span class="material-symbols-outlined cursor-pointer text-lightText md:hidden" id="menu-toggle">menu</span>
				<div class="absolute top-12 md:top-0 right-0 px-4 flex flex-col gap-4 bg-darkBg rounded md:flex-row">
					<a
							{% if route == 'app_booking' %}
								class="navlink active"
							{% else %}
								class="navlink"
							{% endif %}
							href="{{ path('app_booking') }}">
						{{ 'nav.book'|trans }}
					</a>
					<a
							{% if route == 'app_gallery' %}
								class="navlink active"
							{% else %}
								class="navlink"
							{% endif %}
							href="{{ path('app_gallery') }}">
						{{ 'nav.gall'|trans }}
					</a>
					<a
							{% if route == 'app_menu' %}
								class="navlink active"
							{% else %}
								class="navlink"
							{% endif %}
							href="{{ path('app_menu') }}">
						{{ 'nav.menu'|trans }}
					</a>
					<a
							{% if route == 'app_contact' %}
								class="navlink active"
							{% else %}
								class="navlink"
							{% endif %}
							href="{{ path('app_contact') }}">
						{{ 'nav.ctct'|trans }}
					</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a
								{% if route == 'app_management' %}
									class="navlink active"
								{% else %}
									class="navlink"
								{% endif %}
								href="{{ path('app_management') }}">
							{{ 'nav.mang'|trans }}
						</a>
					{% else %}
						<a
								{% if route == 'app_account' or route == 'app_login' %}
									class="navlink active"
								{% else %}
									class="navlink"
								{% endif %}
								href="{{ app.user ? path('app_account') : path('app_login') }}">
							{% if app.user %}
								{{ 'nav.acnt'|trans }}
							{% else %}
								{{ 'nav.logn'|trans }}
							{% endif %}
						</a>
					{% endif %}
				</div>
			</div>

		</div>

	</div>
</nav>