<nav class="bg-darkBg fixed inset-x-0 top-0 z-10">
	<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
		<div class="flex items-center justify-between">
			<div>
				<a href="{{ path('app_home') }}" class="cursor-pointer">
					<img src="{{ asset('build/images/Logo.png') }}" alt="logo" class="h-20 px-3 py-2">
				</a>
			</div>
			<div class="flex px-3 py-2 gap-4">
				<a class="text-lightText" href="#">Réservation</a>
				<a class="text-lightText" href="{{ path('app_gallery') }}">Galerie</a>
				<a class="text-lightText" href="{{ path('app_menu') }}">Carte</a>
				<a class="text-lightText" href="{{ path('app_contact') }}">Contact</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a class="text-lightText" href="{{ path('app_management') }}">Gestion</a>
				{% else %}
					<a
							class="text-lightText"
							href="{{ app.user ? path('app_account') : path('app_login') }}">
						{{ app.user ? 'Compte' : 'Connexion' }}
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>