{{ "now"|date("D, F d, Y", "Europe/Paris") }}
{#{{ restaurant.today }}#}
{% if restaurant.openToday %}
	<p>We are open</p>
	{% if restaurant.noonServiceToday and restaurant.eveningServiceToday %}
		<p>from {{ restaurant.getNoonServiceSchedule }} and from {{ restaurant.getEveningServiceSchedule }}</p>
	{% elseif restaurant.noonServiceToday %}
		<p>only from {{ restaurant.getNoonServiceSchedule }}</p>
	{% elseif restaurant.eveningServiceToday %}
		<p>only from {{ restaurant.getEveningServiceSchedule }}</p>
	{% endif %}
{% else %}
	<p>We are closed today.</p>
{% endif %}
<a href="{{ path('app_home_schedule') }}" class="textLink">See all schedules.</a>