{{ "now"|format_datetime('medium', 'none') }}
{% if restaurant.openToday %}
	<p>{% trans %}info.open{% endtrans%}</p>
	{% if restaurant.noonServiceToday and restaurant.eveningServiceToday %}
		<p>{% trans %}info.from{% endtrans %} {{ restaurant.getNoonServiceSchedule }} {% trans %}info.andf{% endtrans %} {{
			restaurant
			.getEveningServiceSchedule
			}}</p>
	{% elseif restaurant.noonServiceToday %}
		<p>{% trans %}info.onlf{% endtrans %} {{ restaurant.getNoonServiceSchedule }}</p>
	{% elseif restaurant.eveningServiceToday %}
		<p>{% trans %}info.onlf{% endtrans %} {{ restaurant.getEveningServiceSchedule }}</p>
	{% endif %}
{% else %}
	<p>{% trans %}info.clos{% endtrans %}</p>
{% endif %}
<a href="{{ path('app_home_schedule') }}" class="textLink">{% trans %}info.schd{% endtrans %}</a>