<form
		hx-post="{{ path('app_management_edit_category', {id: id}) }}"
		hx-target="this"
		hx-swap="outerHTML"
		class="grid grid-cols-3">

	{{ form_start(form) }}

	<div class="col-span-2">
		{{ form_widget(form.name) }}
	</div>

	<div class="flex items-center">
		<button class="w-fit icon-btn" hx-get="{{ path('app_management_show_category', {id: id}) }}">
			<span class="material-symbols-outlined">Cancel</span>
		</button>
		<button class="w-fit icon-btn">
			<span class="material-symbols-rounded">Save</span>
		</button>
	</div>

	{{ form_row(form._token) }}
	{{ form_end(form, {render_rest: false}) }}

</form>