{% block javascripts %}
	{{ encore_entry_script_tags('cat') }}
{% endblock %}

<div hx-target="this" hx-swap="outerHTML">

	<div class="hidden">
		{% for category in categories %}
			<span class="cat">{{ category.name }}</span>
		{% endfor %}
	</div>

	{{ include('_back-button.html.twig', {
		path: path('app_management_recipe-category') ,
	}) }}

	<div class="card">

		<div class="textH2 text-white mb-4">Category order</div>

		<ul class="drag-ul"></ul>

		<form hx-post="{{ path('app_management_reorder_category') }}">

		{{ form_start(form) }}
		<div class="hidden">
			{{ form_row(form.categories) }}
		</div>
		<div class="flex justify-end items-center">
			<button class="btn-icon-left btn-valid">
				Save <span class="material-symbols-rounded button-icon">Save</span>
			</button>
		</div>
		{{ form_end(form) }}
		</form>
	</div>

</div>
