<div hx-target="this" hx-swap="outerHTML" id="recipe-gestion">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_management_action')}) }}

	<div class="border border-2 border-secondary p-2 mb-6 rounded">
		<form hx-post="{{ path('app_management_recipe') }}">
			{{ form_start(recipeForm) }}
			<div class="flex justify-end items-center">
				<button class="btn">Save</button>
			</div>
			{{ form_end(recipeForm) }}
		</form>
	</div>

</div>