{% block javascript %}
{{ encore_entry_script_tags('expand') }}
{% endblock %}

<div hx-target="this" hx-swap="outerHTML" id="recipe-gestion">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_management_action')}) }}

	<div class="card">
		{% set oldCategory = '' %}
		{% for recipe in recipes %}
			{% if oldCategory != recipe.category %}
				{% set margin = oldCategory == '' ? 'mb-2' : 'my-2' %}
				<div class="flex justify-between items-center p-3 {{ margin }} rounded bg-primary text-lightText
				no-expand">
					{{ recipe.category }}
					<button class="flex items-center p-1.5 border-2 border-lightText rounded expand hover:border-secondary
					hover:bg-secondary">
						<span class="material-symbols-outlined text-lightText">expand_more</span>
					</button>
				</div>
				{% set oldCategory = recipe.category %}
			{% endif %}
			<div class="flex gap-2 items-center recipe-container hidden">
				<div class="flex-grow bg-white text-textColor p-3 rounded">
					{{ recipe.name }}
				</div>
				{{ include('management/recipe/_manage-recipe.html.twig', {id: recipe.id}) }}
			</div>
		{% endfor %}

		<div class="flex justify-end items-center mt-2 no-expand">
			<button hx-get="{{ path('app_management_add-recipe') }}" class="btn-icon-left">
				Add a recipe <span class="material-symbols-rounded button-icon">Add</span>
			</button>
		</div>
	</div>

</div>