{% block javascript %}
{{ encore_entry_script_tags('expand') }}
{% endblock %}

<div hx-target="this" hx-swap="outerHTML">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_management_action')}) }}

	<div class="border border-2 border-secondary p-2 mb-6 rounded">
		{% set oldCategory = '' %}
		{% for recipe in recipes %}
			{% if oldCategory != recipe.category %}
				{% set margin = oldCategory == '' ? 'mb-2' : 'my-2' %}
				<div class="flex justify-between items-center p-3 {{ margin }} rounded bg-primary text-white
				category-container">
					{{ recipe.category }}
					<button class="expand">
						<span class="material-symbols-outlined">expand_less</span>
					</button>
				</div>
				{% set oldCategory = recipe.category %}
			{% endif %}
			<div class="grid grid-cols-4 gap-2 items-center recipe-container">
				<div class="col-span-3 border border-2 border-black p-3 rounded">
					{{ recipe.name }}
				</div>
				<div class="w-fit flex">
					<button class="icon-btn" hx-get="{{ path('app_management_edit-recipe', {id: recipe.id}) }}">
						<span class="material-symbols-rounded">Edit</span>
					</button>
					<button class="icon-btn">
						<span class="material-symbols-rounded">Delete</span>
					</button>
				</div>
			</div>
		{% endfor %}
	</div>

	{{ include('_back-button.html.twig', {path: path('app_management_action')}) }}

</div>