{% block javascripts %}
	{{ encore_entry_script_tags('numberInput') }}
{% endblock %}
<div hx-target="this" hx-swap="outerHTML" id="rest-seats-gestion">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_management_manage-restaurant')}) }}

	<div class="card">
		{{ form_start(form) }}
		<div class="grid grid-cols-3 gap-4">
			{% for table in form.tables %}
				<div class="flex justify-center items-center gap-2">
					<div class="number-input">
						{{ form_widget(table) }}
						<span class="number-button number-plus text-lightText">+</span>
						<span class="number-button number-minus text-lightText">-</span>
					</div>
					<button class="icon-btn btn-danger mb-6">
						<span class="material-symbols-rounded">delete</span>
					</button>
				</div>
			{% endfor %}
		</div>
		{{ form_end(form) }}
	</div>
</div>