<form
		hx-post="{{ path('app_management_test-time') }}"
		hx-target="this"
		hx-swap="outerHTML"
>
	{{ form_start(form) }}
	{% for hour in form.openHours %}
		<div class="card">
			<div class="text-xl text-lightText uppercase text-center p-2">
				{{ hour.vars.value.dayOfWeek|dayOfWeek }}
			</div>
			<span class="text-lightText">Horaire du midi</span>
			<div class="grid grid-cols-2 gap-2 mb-2">
				{{ form_widget(hour.vars.form.noonStart,
					{'attr': {'class': 'flex items-center gap-4 bg-lightBg p-2 rounded mb-1'}}) }}
				{{ form_widget(hour.vars.form.noonEnd,
					{'attr': {'class': 'flex items-center gap-4 bg-lightBg p-2 rounded mb-1'}}) }}
			</div>
			<span class="text-lightText">Horaire du soir</span>
			<div class="grid grid-cols-2 gap-2">
				{{ form_widget(hour.vars.form.eveningStart,
					{'attr': {'class': 'flex items-center gap-4 bg-lightBg p-2 rounded mb-1'}}) }}
				{{ form_widget(hour.vars.form.eveningEnd,
					{'attr': {'class': 'flex items-center gap-4 bg-lightBg p-2 rounded mb-1'}}) }}
			</div>
		</div>
	{% endfor %}
	{{ form_row(form._token) }}
	{{ form_end(form, {render_rest: false}) }}

</form>