<div hx-target="this" hx-swap="innerHTML" id="restaurant-gestion">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_management_action')}) }}

	{# GESTION DES HORAIRES  #}

	<div class="card grid grid-cols-4 gap-2 text-lightText">
		{% for i in 1..7 %}
			{% set openDay = restaurant.todayOpenDay(i) %}
			{% set openHours = restaurant.todayOpenHour(i) %}
			<div class="border-2 border-lightBg rounded p-2">
				<div class="underline underline-offset-4">{{ openDay.dayOfWeek|dayOfWeek }}</div>
				<div class="{{ openDay.open ? 'text-valid' : 'text-warning' }}">
					{{ openDay.open ? 'message.open'|trans : 'message.closed'|trans }}
				</div>
				{% if openDay.open %}
					<div class="flex justify-between">
						<span>{{ 'message.noonService'|trans }}:</span>
						<span class="{{ openDay.noonService ? 'text-valid' : 'text-warning' }}">
							{{ openDay.noonService ? 'button.yes'|trans : 'button.no'|trans }}
						</span>
					</div>
					<div class="flex justify-evenly">
						{% if openDay.noonService %}
							<span>{{ openHours.noonStart|format_datetime(pattern="HH:mm") }}</span>
							<span>{{ 'info.to'|trans }}</span>
							<span>{{ openHours.noonEnd|format_datetime(pattern="HH:mm") }}</span>
						{% else %}
							<span>-</span>
						{% endif %}
					</div>
					<div class="flex justify-between">
						<span>{{ 'message.eveningService'|trans }}:</span>
						<span class="{{ openDay.eveningService ? 'text-valid' : 'text-warning' }}">
							{{ openDay.eveningService ? 'button.yes'|trans : 'button.no'|trans }}
						</span>
					</div>
					<div class="flex justify-evenly">
						{% if openDay.eveningService %}
							<span>{{ openHours.eveningStart|format_datetime(pattern="HH:mm") }}</span>
							<span>{{ 'info.to'|trans }}</span>
							<span>{{ openHours.eveningEnd|format_datetime(pattern="HH:mm") }}</span>
						{% else %}
							<span>-</span>
						{% endif %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
		<div class="flex justify-center items-center">
			<button class="btn" hx-get="{{ path('app_management_open-restaurant') }}">{{ 'button.edit'|trans }}</button>
		</div>
	</div>

	{#	GESTION DES TABLES #}

	<div class="card text-lightText">
		<div class="textH2">{{ 'h1.manageRoom'|trans }}</div>
		{% for key, value in restaurant.tableKeyValue %}
			<div class="p-2">{{ value }} {{ 'message.table'|trans }}{{ value > 1 ? 's' : ''}} {{ 'message.for'|trans }} {{
				key }} {{ 'message.person'|trans }}{{ key > 1	? 's' : '' }}.</div>
		{% endfor %}
		<div class="flex justify-end items-center my-2">
			<button class="btn" hx-get="{{ path('app_management_manage-seats-restaurant') }}">
				{{ 'button.edit'|trans }}
			</button>
		</div>
	</div>

</div>