<div hx-target="this" hx-swap="innerHTML" id="restaurant-gestion">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_management_action')}) }}

	{# GESTION DES HORAIRES  #}

	<div class="card grid grid-cols-4 gap-2 text-lightText">
		{% for openDay in restaurant.openDays %}
			<div class="border border-2 border-lightBg rounded p-2">
				<div class="underline underline-offset-4">{{ openDay.dayOfWeek|dayOfWeek }}</div>
				<div class="{{ openDay.open ? 'text-valid' : 'text-warning' }}">
					{{ openDay.open ? 'Open' : 'Closed' }}
				</div>
				{% if openDay.open %}
					<div class="flex justify-between">
						<span>Noon service:</span>
						<span class="{{ openDay.noonService ? 'text-valid' : 'text-warning' }}">
							{{ openDay.noonService ? 'Yes' : 'No' }}
						</span>
					</div>
					<div class="flex justify-evenly">
						{% if openDay.noonService %}
							<span>{{ restaurant.openHours[loop.index0].noonStart|format_datetime(pattern="HH:mm") }}</span>
							<span>to</span>
							<span>{{ restaurant.openHours[loop.index0].noonEnd|format_datetime(pattern="HH:mm") }}</span>
						{% else %}
							<span>-</span>
						{% endif %}
					</div>
					<div class="flex justify-between">
						<span>Evening service:</span>
						<span class="{{ openDay.eveningService ? 'text-valid' : 'text-warning' }}">
							{{ openDay.eveningService ? 'Yes' : 'No' }}
						</span>
					</div>
					<div class="flex justify-evenly">
						{% if openDay.eveningService %}
							<span>{{ restaurant.openHours[loop.index0].eveningStart|format_datetime(pattern="HH:mm") }}</span>
							<span>to</span>
							<span>{{ restaurant.openHours[loop.index0].eveningEnd|format_datetime(pattern="HH:mm") }}</span>
						{% else %}
							<span>-</span>
						{% endif %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
		<div class="flex justify-center items-center">
			<button class="btn" hx-get="{{ path('app_management_open-restaurant') }}">Edit</button>
		</div>
	</div>

	{#	GESTION DES TABLES #}

	<div class="card text-lightText">
		<div class="textH2">Manage restaurant room</div>
		{% for key, value in restaurant.tableKeyValue %}
			<div class="p-2">{{ value }} table{{ value > 1 ? 's' : ''}} for {{ key }} person{{ key > 1 ? 's' : '' }}.</div>
		{% endfor %}
		<div class="flex justify-end items-center my-2">
			<button class="btn" hx-get="{{ path('app_management_manage-seats-restaurant') }}">
				Edit
			</button>
		</div>
	</div>

</div>